/* Página de Produto */
#produto {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: transparent; /* Remove o fundo branco */
}

.produto-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fundo da área de produto */
}

.produto-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.produto-info {
    margin-left: 30px; /* Mover o texto mais para a direita */
    max-width: 50%;
}

.produto-info h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.produto-info .price {
    font-size: 1.5em;
    color: #000; /* Cor preta para o preço */
    font-weight: bold;
    margin-bottom: 15px;
}

.produto-info .descricao {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.produto-info h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.produto-info ul {
    list-style-type: none;
    padding-left: 0;
}

.produto-info ul li {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.1em;
    border: 2px solid #ccc; /* Borda cinza */
    background-color: #fff; /* Fundo branco */
    color: #333; /* Cor do texto */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
    border-radius: 8px;
}

button:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    padding-left: 0;
}

footer nav ul li {
    display: inline-block;
    margin: 0 15px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    color: #ccc;
}

footer p {
    font-size: 0.8em;
    margin-top: 10px;
}
