/* Página de Produto */
#produto {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.produto-details {
    width: 70%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.produto-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.produto-details p {
    font-size: 1.2em;
    color: #000;
}
